*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial;   
    transition: .2s linear;
}

.body{
    background-color: #fff5c0;
    font-family: Arial, sans-serif;
    display: block;
    position: relative;
    padding: 20px;
    width: 90%;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 6px 10px 10px 0px rgba(0,0,0,0.4);
}

.header{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

#colorchange{
    background-color: #fff5c0;
    color: #bd40bd;
    font: bold 20px courier, monospace;
    padding: 15px;
    margin: 10px 25px;
    box-shadow: 6px 10px 10px 0px rgba(0,0,0,0.4);
    cursor: pointer;
    border-color: #f1df83;
    border-style: outset;
    border-width: 5px;
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.2s ease;
}
#colorchange:hover{
    background-color: #bd40bd;
    border-color: #bd40bd;
    color: #fff08f;
    transform: scale(1.05);
}

.img{
    width: 150px;
    border-radius: 30%;
}

.info{
    flex-basis: 760px;
    margin-top: 10px;
    margin-left: 10px;
}

.other{
    margin-top: 23px;
    text-align: right;
}
h1{
    margin-top: 0;
}

h2{
    font-size: 27px;
    font-style: italic;
}